.app-header {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: url("../assets/bg-image.jpeg");
  background-position:center;
  background-size: cover;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.app-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.search-form {
  width: 100%;
  max-width: 500px;
}

.search-input {
  flex: 1;
  min-width: 200px;
}

.search-btn {
  min-width: 100px;
}


@media (max-width: 768px) {
  .app-title {
    font-size: 28px;
    margin-top: 12px;
  }
  .app-subtitle {
    font-size: 17px;
  }
  .search-form {
    flex-direction: column;
  }
  .search-input {
    margin-bottom: 10px;
  }
}
