
.recipe-detail {
  padding: 20px;
}

.recipe-detail img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}


.recipe-detail h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.recipe-detail h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe-detail h5 {
  font-size: 18px;
  margin-bottom: 10px;
}


.recipe-detail ul li,
.recipe-detail ol li {
  margin-bottom: 8px;
}


.recipe-detail .ratio iframe {
  width: 100%;
  height: 315px; 
}


@media (min-width: 576px) and (max-width: 991px) {
  .recipe-detail h2 {
    font-size: 24px;
  }
  .recipe-detail h4 {
    font-size: 20px;
  }
  .recipe-detail .ratio iframe {
    height: 250px;
  }
}


@media (max-width: 575px) {
  .recipe-detail h2 {
    font-size: 20px;
  }
  .recipe-detail h4 {
    font-size: 18px;
  }
  .recipe-detail .ratio iframe {
    height: 200px;
  }
}
